<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="shortcut icon" href="https://minigame-dnh.herokuapp.com/favicon.ico">
	<link rel="stylesheet" href="https://minigame-dnh.herokuapp.com/css/style.css">
	<script src="https://minigame-dnh.herokuapp.com/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
	<script src="https://minigame-dnh.herokuapp.com/js/minigame.js"></script>
</head>
<body>
<h1>Hello</h1>
<div id="wrapper">
	<div id="chatForm">
		<div id="information">
			<h3>Đăng ký minigame DNH</h3>
			<input type="text" id="user_name" placeholder="Nhập họ tên">
			<input type="text" id="email" placeholder="Nhập email">
			<input type="text" id="phone" placeholder="Nhập số điện thoại">
			<input type="button" id="registry" value="Đăng ký">
		</div>
		<div id="listUser">
			<!--			<div class='user'>-->
			<!--				<input type='text' readonly value=''>-->
			<!--				<input type='text' readonly value=''>-->
			<!--				<input type='text' readonly value=''>-->
			<!--				<input type='text' readonly value=''>-->
			<!--			</div>-->
		</div>
	</div>

</div>

</body>
</html>
