body{
    background: #ebeef4;
}
#wrapper{
    width:800px;
    margin: auto;
}
#left {
    width: 30%;
    float: left;
    border: 1px solid #ccc;
}
#information,#listUser{
    border: 1px solid #ccc;
}
#listUser{
    height: 500px;
    margin: 5px 0;
    background-color: #ccc;
}
